In [73]:
import pandas as pd
import numpy as np
import os
import csv
import os.path

In [234]:
working_dir = os.path.abspath(os.path.dirname('data_4_ScienceHack2021'))

In [235]:
working_dir

'/Users/nikanizharadze/Desktop/data_4_ScienceHack2021'

In [216]:
folder_name = 'trip_'
gps_filename = 'gps_data.csv'
passanger_count_filename = 'passenger_count_nums'
all_trips = []
# for i in range(1,13):
for i in range(1,13):
    df_gps = pd.read_csv(working_dir+folder_name+str(i) +'/' + gps_filename)
    df_passanger_count = pd.read_csv(working_dir+folder_name+str(i) +'/' + passanger_count_filename)
    # Remove Nan, inf values in passanger_count file
    df_passanger_count = df_passanger_count[~df_passanger_count.isin([np.nan, np.inf, -np.inf]).any(1)]
    # # Convert epoch_ts to int so GPS dataframe and Passanger_Count dataframe are mergable on epoch_ts
    df_passanger_count['Epoch_Time'] = df_passanger_count['Epoch_Time'].astype(float).round().astype(int)
    df_passanger_count = df_passanger_count.rename(columns={'Epoch_Time': 'epoch_ts'})
    merged = df_gps.merge(df_passanger_count, on="epoch_ts", how='left')
    merged = merged.fillna(0)
    door_closed_indeces = merged[merged.Number_of_Passengers==-10].index.values
    door_open_indeces = merged[merged.Number_of_Passengers==-99].index.values
    for j in range(len(door_closed_indeces)):
        value_to_insert = sum(merged.iloc[door_closed_indeces[j]+1:door_open_indeces[j]-1]['Number_of_Passengers'])
        merged.loc[door_closed_indeces[j]+1:door_open_indeces[j]-1]['Number_of_Passengers'] =  value_to_insert   
    all_trips.append(merged)

/Users/nikanizharadze/anaconda3/envs/PricePrediction/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [221]:
len(all_trips)

12

In [236]:
# all_trips contain 12 dataframes each of which merges relevant gps data to number of passengers data based on epoch_ts

In [237]:
all_trips[0].head(50)

,date_time,is_valid,latitude,lat_dir,longitude,lon_dir,speed_over_ground_knots,heading_true_course,epoch_ts,Number_of_Passengers
0,2021-04-12 09:22:22,False,0.000000,0,0.000000,0,0.000,0.00,1.618219e+09,0.0
1,2021-04-12 09:22:23,True,48.151783,N,11.525906,E,19.488,260.93,1.618219e+09,0.0
2,2021-04-12 09:22:24,True,48.151754,N,11.525763,E,19.709,259.68,1.618219e+09,0.0
3,2021-04-12 09:22:25,True,48.151737,N,11.525618,E,19.987,260.13,1.618219e+09,0.0
4,2021-04-12 09:22:26,True,48.151743,N,11.525471,E,20.009,263.38,1.618219e+09,0.0
5,2021-04-12 09:22:27,True,48.151725,N,11.525324,E,20.273,263.36,1.618219e+09,0.0
6,2021-04-12 09:22:28,True,48.151676,N,11.525196,E,19.985,260.49,1.618219e+09,-10.0
7,2021-04-12 09:22:29,True,48.151645,N,11.525047,E,20.596,259.42,1.618219e+09,12.0
8,2021-04-12 09:22:30,True,48.151616,N,11.524912,E,20.281,258.78,1.618219e+09,12.0
9,2021-04-12 09:22:31,True,48.151592,N,11.524777,E,19.905,259.07,1.618219e+09,12.0
10,2021-04-12 09:22:32,True,48.151572,N,11.524637,E,19.744,258.66,1.618219e+09,12.0
11,2021-04-12 09:22:33,True,48.151557,N,11.524504,E,19.136,259.49,1.618219e+09,12.0
12,2021-04-12 09:22:34,True,48.151541,N,11.524381,E,18.061,259.03,1.618219e+09,12.0
13,2021-04-12 09:22:35,True,48.151531,N,11.524273,E,16.264,259.99,1.618219e+09,12.0
14,2021-04-12 09:22:36,True,48.151521,N,11.524181,E,14.105,259.57,1.618219e+09,12.0
15,2021-04-12 09:22:37,True,48.151502,N,11.524117,E,11.273,257.56,1.618219e+09,12.0
16,2021-04-12 09:22:38,True,48.151484,N,11.524059,E,9.734,254.47,1.618219e+09,12.0
17,2021-04-12 09:22:39,True,48.151469,N,11.524018,E,7.896,251.35,1.618219e+09,12.0
18,2021-04-12 09:22:40,True,48.151467,N,11.523982,E,6.112,249.72,1.618219e+09,12.0
19,2021-04-12 09:22:41,True,48.151466,N,11.523964,E,4.021,246.58,1.618219e+09,12.0
20,2021-04-12 09:22:42,True,48.151471,N,11.523957,E,2.188,0.00,1.618219e+09,12.0
21,2021-04-12 09:22:43,True,48.151474,N,11.523957,E,1.159,0.00,1.618219e+09,12.0
22,2021-04-12 09:22:44,True,48.151478,N,11.523954,E,0.698,0.00,1.618219e+09,12.0
23,2021-04-12 09:22:45,True,48.151481,N,11.523946,E,0.709,0.00,1.618219e+09,12.0
24,2021-04-12 09:22:46,True,48.151480,N,11.523943,E,0.481,0.00,1.618219e+09,12.0
25,2021-04-12 09:22:47,True,48.151475,N,11.523949,E,0.151,0.00,1.618219e+09,-99.0
26,2021-04-12 09:22:48,True,48.151475,N,11.523948,E,0.427,0.00,1.618219e+09,0.0
27,2021-04-12 09:22:49,True,48.151474,N,11.523946,E,0.574,0.00,1.618219e+09,0.0
28,2021-04-12 09:22:50,True,48.151474,N,11.523946,E,0.617,0.00,1.618219e+09,0.0
29,2021-04-12 09:22:51,True,48.151475,N,11.523941,E,0.449,0.00,1.618219e+09,0.0
30,2021-04-12 09:22:52,True,48.151478,N,11.523932,E,0.303,0.00,1.618219e+09,0.0
31,2021-04-12 09:22:53,True,48.151478,N,11.523932,E,0.249,0.00,1.618219e+09,0.0
32,2021-04-12 09:22:54,True,48.151478,N,11.523927,E,0.274,0.00,1.618219e+09,0.0
33,2021-04-12 09:22:55,True,48.151478,N,11.523923,E,0.313,0.00,1.618219e+09,0.0
34,2021-04-12 09:22:56,True,48.151478,N,11.523925,E,0.430,0.00,1.618219e+09,0.0
35,2021-04-12 09:22:57,True,48.151480,N,11.523919,E,0.383,0.00,1.618219e+09,0.0
36,2021-04-12 09:22:58,True,48.151476,N,11.523923,E,0.617,0.00,1.618219e+09,0.0
37,2021-04-12 09:22:59,True,48.151480,N,11.523922,E,0.394,0.00,1.618219e+09,0.0
38,2021-04-12 09:23:00,True,48.151484,N,11.523918,E,0.238,0.00,1.618219e+09,0.0
39,2021-04-12 09:23:01,True,48.151492,N,11.523915,E,0.520,0.00,1.618219e+09,0.0
40,2021-04-12 09:23:02,True,48.151492,N,11.523912,E,0.133,0.00,1.618219e+09,0.0
41,2021-04-12 09:23:03,True,48.151498,N,11.523908,E,0.217,0.00,1.618219e+09,-10.0
42,2021-04-12 09:23:04,True,48.151515,N,11.523900,E,1.004,0.00,1.618219e+09,14.0
43,2021-04-12 09:23:05,True,48.151513,N,11.523901,E,0.341,0.00,1.618219e+09,14.0
44,2021-04-12 09:23:06,True,48.151525,N,11.523892,E,0.641,0.00,1.618219e+09,14.0
45,2021-04-12 09:23:07,True,48.151535,N,11.523884,E,0.768,0.00,1.618219e+09,14.0
46,2021-04-12 09:23:08,True,48.151544,N,11.523878,E,0.884,0.00,1.618219e+09,14.0
47,2021-04-12 09:23:09,True,48.151547,N,11.523874,E,0.961,0.00,1.618219e+09,14.0
48,2021-04-12 09:23:10,True,48.151547,N,11.523860,E,1.266,0.00,1.618219e+09,14.0
49,2021-04-12 09:23:11,True,48.151542,N,11.523840,E,2.095,0.00,1.618219e+09,14.0