In [246]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import matplotlib.cm as cm
from sklearn.cluster import KMeans

In [ ]:
# something like this tog et data from DataStore
#     ds = DataStore(debug=True)
#     print(ds.data.head())
#     print(ds.wifi)
#     ds.data.to_csv('data.csv', sep='\t', encoding='utf-8')

In [247]:
data = pd.read_csv('/Users/nikanizharadze/Desktop/TUM_ScienceHack21-main/model/data.csv', sep = '\t')
wifi = pd.read_csv('/Users/nikanizharadze/Desktop/TUM_ScienceHack21-main/model/wifi.csv', sep='\t')

In [248]:
data.head()

,Unnamed: 0,is_valid,latitude,longitude,speed_over_ground_knots,heading_true_course,epoch_ts,line,bus,Number_of_Passengers
0,0,False,0.000000,0.000000,NaN,NaN,2021-04-12 09:22:22,trip_1,bus_trip_1,-1.0
1,1,True,48.151783,11.525906,19.488,260.93,2021-04-12 09:22:23,trip_1,bus_trip_1,-1.0
2,2,True,48.151754,11.525763,19.709,259.68,2021-04-12 09:22:24,trip_1,bus_trip_1,-1.0
3,3,True,48.151737,11.525618,19.987,260.13,2021-04-12 09:22:25,trip_1,bus_trip_1,-1.0
4,4,True,48.151743,11.525471,20.009,263.38,2021-04-12 09:22:26,trip_1,bus_trip_1,-1.0

In [249]:
wifi['epoch_ts'] = wifi['epoch_ts'].str.split('.').str[0]

In [250]:
df = pd.merge(wifi, data, on=['epoch_ts'])

In [251]:
del df['id']
del df['vendor']
del df['subtype']
del df['Unnamed: 0_x']
del df['Unnamed: 0_y']
del df['tag_nr']
del df['tag_length']
del df['tag_mcs']
del df['tag_TXbf']
del df['tag_Antsel']
del df['is_valid']

In [252]:
df.head()

,epoch_ts,frame_nr,mac_address,rssi,seq_num,ht_capabilities,ht_ampdu,tag_HTex,latitude,longitude,speed_over_ground_knots,heading_true_course,line,bus,Number_of_Passengers
0,2021-04-12 09:22:24,1,d6:26:b4:b7:b0:93,-57,2030,0x0000016f,0x00000013,0x00000000,48.151754,11.525763,19.709,259.68,trip_1,bus_trip_1,-1.0
1,2021-04-12 09:22:24,2,d6:26:b4:b7:b0:93,-59,2031,0x0000016f,0x00000013,0x00000000,48.151754,11.525763,19.709,259.68,trip_1,bus_trip_1,-1.0
2,2021-04-12 09:22:28,3,92:6a:96:38:22:e7,-43,2083,0x0000402d,0x00000017,0x00000000,48.151676,11.525196,19.985,260.49,trip_1,bus_trip_1,-1.0
3,2021-04-12 09:22:28,4,92:6a:96:38:22:e7,-43,2084,0x0000402d,0x00000017,0x00000000,48.151676,11.525196,19.985,260.49,trip_1,bus_trip_1,-1.0
4,2021-04-12 09:22:30,8,ec:10:7b:6b:21:fc,-35,1447,0x0000016e,0x00000003,0x00000000,48.151616,11.524912,20.281,258.78,trip_1,bus_trip_1,12.0

In [253]:
def mac_to_int(mac_str):
    # takes mac address as tring and converts to int
    return int(''.join(mac_str.split(":")), 16)

In [254]:
def int_to_mac(mac_int):
    mac_hex = "{:012x}".format(mac_int)
    mac_str = ":".join(mac_hex[i:i+2] for i in range(0, len(mac_hex), 2))
    return mac_str

In [255]:
# df['mac_address'] = mac_to_int(str(df['mac_address']))

In [256]:
addresses = list(df['mac_address'])
for i in df.index:
    df.at[i, 'mac_address'] = mac_to_int(addresses[i])

In [257]:
df = df.sort_values(by='epoch_ts',ascending=True)
df = df.reset_index(drop=True)
df['passengers'] = 0

In [258]:
df.head()

,epoch_ts,frame_nr,mac_address,rssi,seq_num,ht_capabilities,ht_ampdu,tag_HTex,latitude,longitude,speed_over_ground_knots,heading_true_course,line,bus,Number_of_Passengers,passengers
0,2021-04-12 09:22:24,1,235461729038483,-57,2030,0x0000016f,0x00000013,0x00000000,48.151754,11.525763,19.709,259.68,trip_1,bus_trip_1,-1.0,0
1,2021-04-12 09:22:24,2,235461729038483,-59,2031,0x0000016f,0x00000013,0x00000000,48.151754,11.525763,19.709,259.68,trip_1,bus_trip_1,-1.0,0
2,2021-04-12 09:22:28,3,160986484450023,-43,2083,0x0000402d,0x00000017,0x00000000,48.151676,11.525196,19.985,260.49,trip_1,bus_trip_1,-1.0,0
3,2021-04-12 09:22:28,4,160986484450023,-43,2084,0x0000402d,0x00000017,0x00000000,48.151676,11.525196,19.985,260.49,trip_1,bus_trip_1,-1.0,0
4,2021-04-12 09:22:30,8,259555534250492,-35,1447,0x0000016e,0x00000003,0x00000000,48.151616,11.524912,20.281,258.78,trip_1,bus_trip_1,12.0,0

In [271]:
flag = True
current_station = set()
next_station = set() 
count = 0
time = 0
speed_flag = False
start_index = 0
for index, row in df.iterrows():
    if flag:
        current_station.add(row['mac_address'])
    else:
        next_station.add(row['mac_address'])
    if row['speed_over_ground_knots'] < 0.2:
        speed_flag = True
    if row['speed_over_ground_knots'] > 3 and speed_flag:
        count += 1
        flag = False
        speed_flag = False
    if count == 2:
        flag = True
        count = 0
#         print(current_station)
#         print(next_station)
#         intersection = set.intersection(current_station, next_station)
#         print(intersection)
#         break
        intersection = set.intersection(current_station, next_station)
        passenger_count = len(intersection)
#         print(passenger_count)
        df.loc[start_index:index, 'passengers'] = passenger_count
        start_index = index
        current_station = set()
        next_station = set()

In [273]:
# df.loc[[0,48], 'passengers'] = 15
df.tail(50)

,epoch_ts,frame_nr,mac_address,rssi,seq_num,ht_capabilities,ht_ampdu,tag_HTex,latitude,longitude,speed_over_ground_knots,heading_true_course,line,bus,Number_of_Passengers,passengers
89454,2021-04-15 19:01:06,3721,202993197427882,-83,3244,0x00000162,0x00000003,0x00000000,48.151844,11.536404,0.039,NaN,trip_12,bus_trip_12,-1.0,3
89455,2021-04-15 19:01:08,3722,86387547721225,-79,3197,0x000001ae,0x0000001b,0x00000000,48.151846,11.536395,1.026,NaN,trip_12,bus_trip_12,-1.0,3
89456,2021-04-15 19:01:09,3725,175972241635055,-67,304,0x0000186c,0x0000001a,0x00000000,48.151844,11.536378,2.486,269.07,trip_12,bus_trip_12,-1.0,3
89457,2021-04-15 19:01:09,3724,268706565456363,-75,3038,0x000001ad,0x0000001b,0x00000000,48.151844,11.536378,2.486,269.07,trip_12,bus_trip_12,-1.0,3
89458,2021-04-15 19:01:09,3723,175972241635055,-69,303,0x0000186c,0x0000001a,0x00000000,48.151844,11.536378,2.486,269.07,trip_12,bus_trip_12,-1.0,3
89459,2021-04-15 19:01:15,3730,204718218564481,-53,1483,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,3
89460,2021-04-15 19:01:15,3731,204718218564481,-53,1484,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,0
89461,2021-04-15 19:01:15,3732,204718218564481,-53,1485,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,0
89462,2021-04-15 19:01:15,3733,204718218564481,-55,1488,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,0
89463,2021-04-15 19:01:15,3734,204718218564481,-55,1489,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,0
89464,2021-04-15 19:01:15,3735,204718218564481,-55,1490,0x000001ad,0x00000013,0x00000000,48.151934,11.536041,10.222,292.84,trip_12,bus_trip_12,-1.0,0
89465,2021-04-15 19:01:16,3739,192293183292078,-75,3135,0x0000402d,0x0000001b,0x00000000,48.151960,11.535958,11.517,294.29,trip_12,bus_trip_12,-1.0,0
89466,2021-04-15 19:01:16,3740,192293183292078,-79,3136,0x0000402d,0x0000001b,0x00000000,48.151960,11.535958,11.517,294.29,trip_12,bus_trip_12,-1.0,0
89467,2021-04-15 19:01:16,3738,192293183292078,-77,3110,0x0000402d,0x0000001b,0x00000000,48.151960,11.535958,11.517,294.29,trip_12,bus_trip_12,-1.0,0
89468,2021-04-15 19:01:17,3743,38182091739967,-71,2072,0x0000402d,0x0000001b,0x00000000,48.151989,11.535890,11.233,296.87,trip_12,bus_trip_12,7.0,0
89469,2021-04-15 19:01:17,3744,38182091739967,-71,2073,0x0000402d,0x0000001b,0x00000000,48.151989,11.535890,11.233,296.87,trip_12,bus_trip_12,7.0,0
89470,2021-04-15 19:01:17,3745,38182091739967,-71,2074,0x0000402d,0x0000001b,0x00000000,48.151989,11.535890,11.233,296.87,trip_12,bus_trip_12,7.0,0
89471,2021-04-15 19:01:17,3747,73096630039109,-79,39,0x0000402d,0x0000001b,0x00000000,48.151989,11.535890,11.233,296.87,trip_12,bus_trip_12,7.0,0
89472,2021-04-15 19:01:20,3749,120959017501840,-57,1684,0x0000402d,0x0000001b,0x00000000,48.152082,11.535594,15.740,295.85,trip_12,bus_trip_12,-1.0,0
89473,2021-04-15 19:01:20,3750,120959017501840,-63,1685,0x0000402d,0x0000001b,0x00000000,48.152082,11.535594,15.740,295.85,trip_12,bus_trip_12,-1.0,0
89474,2021-04-15 19:01:20,3751,60130282484,-71,3630,0x0000006c,0x00000012,0x00000c00,48.152082,11.535594,15.740,295.85,trip_12,bus_trip_12,-1.0,0
89475,2021-04-15 19:01:21,3753,130788687882708,-71,1704,0x0000402d,0x00000017,0x00000000,48.152130,11.535487,17.031,300.57,trip_12,bus_trip_12,-1.0,0
89476,2021-04-15 19:01:23,3757,97125490259497,-73,1596,0x0000180c,0x0000001b,0x00000000,48.152202,11.535258,17.759,296.88,trip_12,bus_trip_12,-1.0,0
89477,2021-04-15 19:01:23,3756,60130282484,-69,3644,0x0000006c,0x00000012,0x00000c00,48.152202,11.535258,17.759,296.88,trip_12,bus_trip_12,-1.0,0
89478,2021-04-15 19:01:23,3755,248999786368834,-71,1310,0x00004021,0x00000017,0x00000000,48.152202,11.535258,17.759,296.88,trip_12,bus_trip_12,-1.0,0
89479,2021-04-15 19:01:23,3754,248999786368834,-73,1309,0x00004021,0x00000017,0x00000000,48.152202,11.535258,17.759,296.88,trip_12,bus_trip_12,-1.0,0
89480,2021-04-15 19:01:26,3761,175934149535508,-65,378,0x0000002c,0x00000001,0x00000000,48.152337,11.534896,18.603,299.28,trip_12,bus_trip_12,-1.0,0
89481,2021-04-15 19:01:26,3762,175934149535508,-63,379,0x0000002c,0x00000001,0x00000000,48.152337,11.534896,18.603,299.28,trip_12,bus_trip_12,-1.0,0
89482,2021-04-15 19:01:26,3763,175934149535508,-65,381,0x0000002c,0x00000001,0x00000000,48.152337,11.534896,18.603,299.28,trip_12,bus_trip_12,-1.0,0
89483,2021-04-15 19:01:28,3764,93243438171657,-65,809,0x0000107e,0x00000013,0x00000c00,48.152422,11.534663,16.157,298.03,trip_12,bus_trip_12,-1.0,0
89484,2021-04-15 19:01:29,3765,175934149535508,-77,426,0x0000002c,0x00000001,0x00000000,48.152450,11.534564,15.142,296.95,trip_12,bus_trip_12,-1.0,0
89485,2021-04-15 19:01:29,3767,35287701132001,-75,2310,0x00000021,0x0000001f,0x00000000,48.152450,11.534564,15.142,296.95,trip_12,bus_trip_12,-1.0,0
89486,2021-04-15 19:01:31,3772,79575427056106,-69,174,0x000001ac,0x0000001b,0x00000000,48.152531,11.534400,12.508,303.85,trip_12,bus_trip_12,-1.0,0
89487,2021-04-15 19:01:33,3773,136523512440163,-63,391,0x000001ef,0x00000013,0x00000000,48.152600,11.534260,10.603,305.41,trip_12,bus_trip_12,-1.0,0
89488,2021-04-15 19:01:34,3774,218224624797017,-69,1475,0x0000402d,0x0000001b,0x00000000,48.152626,11.534204,9.348,304.71,trip_12,bus_trip_12,-1.0,0
89489,2021-04-15 19:01:35,3776,202481592943712,-45,2405,0x00001063,0x00000017,0x00000000,48.152647,11.534160,6.837,304.71,trip_12,bus_trip_12,-1.0,0
89490,2021-04-15 19:01:35,3777,202481592943712,-14,2410,0x00001063,0x00000017,0x00000000,48.152647,11.534160,6.837,304.71,trip_12,bus_trip_12,-1.0,0
89491,2021-04-15 19:01:36,3778,202481592943712,-2,2416,0x00001063,0x00000017,0x00000000,48.152661,11.534130,3.848,304.97,trip_12,bus_trip_12,-1.0,0
89492,2021-04-15 19:01:36,3779,202481592943712,-8,2417,0x00001063,0x00000017,0x00000000,48.152661,11.534130,3.848,304.97,trip_12,bus_trip_12,-1.0,0
89493,2021-04-15 19:01:36,3780,202481592943712,-18,2423,0x00001063,0x00000017,0x00000000,48.152661,11.534130,3.848,304.97,trip_12,bus_trip_12,-1.0,0
89494,2021-04-15 19:01:36,3781,266728021974878,-75,1137,0x0000012d,0x00000017,0x00000000,48.152661,11.534130,3.848,304.97,trip_12,bus_trip_12,-1.0,0
89495,2021-04-15 19:01:37,3782,266728021974878,-75,1138,0x0000012d,0x00000017,0x00000000,48.152665,11.534120,0.963,NaN,trip_12,bus_trip_12,-1.0,0
89496,2021-04-15 19:01:37,3783,175934149535508,-75,463,0x0000002c,0x00000001,0x00000000,48.152665,11.534120,0.963,NaN,trip_12,bus_trip_12,-1.0,0
89497,2021-04-15 19:01:40,3785,17629792978827,-75,919,0x0000182c,0x00000016,0x00000000,48.152680,11.534113,0.430,NaN,trip_12,bus_trip_12,-1.0,0
89498,2021-04-15 19:01:40,3784,17629792978827,-77,918,0x0000182c,0x00000016,0x00000000,48.152680,11.534113,0.430,NaN,trip_12,bus_trip_12,-1.0,0
89499,2021-04-15 19:01:44,3788,175934149535508,-71,579,0x0000002c,0x00000001,0x00000000,48.152709,11.534099,0.857,NaN,trip_12,bus_trip_12,-1.0,0
89500,2021-04-15 19:01:45,3789,60130282484,-77,3742,0x0000006c,0x00000012,0x00000c00,48.152714,11.534100,1.140,NaN,trip_12,bus_trip_12,-1.0,0
89501,2021-04-15 19:01:45,3790,35287701132001,-63,2336,0x00000021,0x0000001f,0x00000000,48.152714,11.534100,1.140,NaN,trip_12,bus_trip_12,-1.0,0
89502,2021-04-15 19:01:46,3791,132018115441945,-73,719,0x00000000,0x00000003,0x00000000,48.152717,11.534096,0.613,NaN,trip_12,bus_trip_12,-1.0,0
89503,2021-04-15 19:01:46,3792,132018115441945,-71,720,0x00000000,0x00000003,0x00000000,48.152717,11.534096,0.613,NaN,trip_12,bus_trip_12,-1.0,0

In [274]:
df.to_csv('df.csv')

In [237]:
df.index

RangeIndex(start=0, stop=89504, step=1)

In [189]:
df['mac_address'][1]

235461729038483